@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
/* 
$primary-color: #FAAC2B;
$assure-color: #00BFA6;
$paciolan-color: #E7092B;
$designUCI-color: #FC593D; */


body {
	background: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    /* font-size: 14px; */
    font-size: 0.8rem;
	color: black;
    background: #fff;

}


h1,
h2,
h3, 
h4 {
    color: black;
    font-weight: 500;
}

h1 {
    /* font-size: 30px; */
    font-size: 1.6rem;
}

h2 {
    /* font-size: 20px; */
    font-size: 1rem;
    /* color:#FAAC2B; */
    color: #FFC057;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 400;
    /* font-size: 18px; */
    font-size: 1rem;
}


/*****************
 NAVIGATION 
******************/
.navigation {
    margin: 50px;
}

a#nav-title {
    float: left;
    display: block;
    /* text-shadow: 2px 2px #ffe269; */
    margin-left: 50px;

}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.navigation a:hover {
    text-decoration: none;
    color: black;


}
.navigation {
	background-color: white;
	color: black;
    display: block;
    padding: 0px 30px 30px 0px;

}


.navigation ul {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
    list-style: none;
    float: right;

}


.navigation ul li {
	padding: 12px;
	text-align: center;

	text-decoration: none;
	margin: 0;
	list-style: none;
	display: inline;
}

.navigation ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;

	color: black;

}

.navigation ul li a:hover,
.navigation ul li a.active {
    opacity: 1;
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 245, 110, 0) 50%, #FFD14B 50%); 
    
}

/*****************
 INTRO 
******************/

.intro-header {
    margin: 50px 0 140px 0 ;
}

/*****************
 FEATURED WORKS 
******************/

.card {
    margin: 40px 0;
    height: 320px;
}


.line {
    border: solid;
    width: 30%;
    height: 2px;
    border:1px solid #00BFA6;
    background-color:#00BFA6;
    border-radius: 5px;
    margin: 10px 0;
}

.tiffanynguyen {
    width: 14%;
    max-height: 20vw;
    min-height: auto;
    margin-top: 60px;
    margin-left: 50px;
    padding-top: 0px;
    padding-left: 0px;
}

.card,.preset-card {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    margin: 4% 0;


}

.card-body {
    padding: 0;
}
.card:hover, .preset-card:hover {
    transform: translateY(-15px);
    transition: all 600ms;

}

/* .assure {
    background-image: url(assure-background.png);
    background-size: 470px 309px;
    background-repeat: no-repeat; 


} */

.paciolan {
    color: white;
}
.tenacity {
    background-image:url(tenacity-background.png);
    background-repeat: no-repeat, repeat;
    background-size: 80%;
    background-attachment: fixed;
    background-position: bottom right; 

}

.project-description{
    padding: 70px 30px;
} 


.mask {
    max-width: 90%; 
    object-fit: cover;
    /* margin-right: 20px; */
}


.project-img {
    margin: 0;
    padding: 0;
}