@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
/* 
$primary-color: #FAAC2B;
$assure-color: #00BFA6;
$paciolan-color: #E7092B;
$designUCI-color: #FC593D; */


body {
	background: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    /* font-size: 14px; */
    font-size: 1rem;
	color: black;
    background: #fff;

}
p, li{
    font-size:.8rem;
    font-weight: 400;
}

h1,
h2,
h3, 
h4 {
    color: black;
    font-weight: 500;
}

h1 {
    /* font-size: 30px; */
    font-size: 1.8rem;
    color: #00BFA6;
    font-weight: 700;
    padding: 10px 0;
}

h2 {
    /* font-size: 20px; */
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1.2rem;

}

h4 {
    font-weight: 500;
    /* font-size: 18px; */
    font-size: 1rem;
    color: #00BFA6;
}

h5 {
    font-weight: 400;
    font-size: .8rem;
}

/*****************
 NAVIGATION 
******************/
.navigation {
    margin: 50px;
}

a#nav-title {
    float: left;
    display: block;
    /* text-shadow: 2px 2px #ffe269; */
    margin-left: 50px;

}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.navigation a:hover {
    text-decoration: none;
    color: black;


}
.navigation {
	background-color: white;
	color: black;
    display: block;
    padding: 0px 30px 30px 0px;

}


.navigation ul {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
    list-style: none;
    float: right;

}


.navigation ul li {
	padding: 12px;
	text-align: center;

	text-decoration: none;
	margin: 0;
	list-style: none;
	display: inline;
}

.navigation ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;

	color: black;

}

.navigation ul li a:hover,
.navigation ul li a.active {
    opacity: 1;
    background-image: -webkit-linear-gradient(-90deg, rgba(255, 245, 110, 0) 50%, #00BFA6 50%); 
    
}

/*****************
 INTRO 
******************/

.intro-header {
    margin: 50px 0 140px 0 ;
}

/*****************
BODY
******************/

.button,
button {
    max-width: 400px;
    height:70px;
    padding: 20px 60px;
    font-size: .8rem;
    font-weight: 500;
    color:  #00BFA6;
    border-radius: 50px;
    background-color: white;
    border: 2px solid #00BFA6;
    margin: 20px auto;

    position: relative;
    left: 30%;
}

.button:hover,button:hover {
    background-color: #00BFA6;
    color: white;
    text-decoration: none;

}

.buttonImg {
    max-width: 14px;
    margin: 0 5px;
}
.description-header {
    max-height: 500px;
    max-width: 100%;
}

.assureImg {
    max-width: 100%;
}

.section {
    margin: 50px 0;
}

.project-details {
    padding: 0;
    margin: 20px 0;
}

.problemStatement {
    max-width: 110%;
}

.featureView {
    margin: 80px 0;
}

.featureDetail{
    display:inline-block;
    max-width: 50%;
    margin: 20px 50px;
}


.phone-gif {
    min-width: 25%;
    max-width: 35%;
    display: inline-block
}


.featureHeading {
    /* display: inline-block; */
    /* text-align: center; */
    height: 40px;
    border-left: 5px solid #00BFA6;
    padding: 5px 10px;
    margin-bottom: 30px;


}

.researchOverview {
    margin: 20px 0;
    padding: 0;
}

.heading {
    /* display: inline-block; */
    /* text-align: center; */
    height: 90%;
    border-left: 5px solid #00BFA6;
    padding: 5px 10px;
    margin-bottom: 30px;


}

.nestedSection {
    margin: 30px 0 50px 0 ;
}

.surveyInsight {
    background-color: #E8FFFC;
    padding: 50px;
    border-radius: 10px
}

.percentages {
    display: inline-block;
    margin: 10px 20px;
    font-size: 2.5rem;
}

.percentDetails {
    display: inline-block;
    /* margin: 0 5px; */
    max-width: 60%;
}

.insightBox {
    background-color: #E8FFFC;
    margin: 20px 0;
    padding: 50px;
    border-radius: 10px
}

/* */
.card {
    margin: 40px 0;
    height: 320px;
}

ul {
	text-decoration: none;
	padding: 0px;
	margin: 0px;
    list-style: none;
    /* float: right; */

}


ul li {
	text-decoration: none;
	list-style: none;
	/* display: inline; */
}

.line {
    border: solid;
    width: 30%;
    height: 2px;
    border:1px solid #00BFA6;
    background-color:#00BFA6;
    border-radius: 5px;
    margin: 10px 0;
}

.tiffanynguyen {
    width: 14%;
    max-height: 20vw;
    min-height: auto;
    margin-top: 60px;
    margin-left: 50px;
    padding-top: 0px;
    padding-left: 0px;
}

.card {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

}

.card-body {
    padding: 0;
}
.card:hover {
    transform: translateY(-15px);
    transition: all 600ms;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300BFA6' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300BFA6' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#quoted {
    color: #00BFA6;
    font-size: 1rem;
    font-weight: 700;
}

.iterationPhase {
    margin: 30px 0;
}
.before {
    font-size: 1.5rem;
    color: #4A4A4A;
    font-weight: 700;
    margin: 0;
}

.iterationNum {
    color: #00BFA6;
    font-size: .9rem;
    font-weight: 500;
    margin: 0;
}

.iterationType {
    background-color: #E8FFFC;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
    text-align: center;
    vertical-align: middle;
}

.reflection-pts {
    font-weight: 700;
    font-size: 1rem;
}

.section-divider {
    display:block;
    width: 100px;
    margin: 0 auto;
}

/* .assure {
    background-image: url(assure-background.png);
    background-size: 470px 309px;
    background-repeat: no-repeat; 


} */

